.tab-area {
  width: 500px;
  margin: 0 auto;
}
.tab-btn {
  display: none; /*タブの切り替えを制御するラジオボタンを非表示に*/
}
.tab-list-wrap {
  padding: 0; /*デフォルトの値をクリア*/
  margin: 0; /*デフォルトの値をクリア*/
  list-style-type: none; /*デフォルトの値をクリア*/
  display: flex; /*ボタンを横並びに*/
  justify-content: space-between; /*ボタンを横幅いっぱいに配置*/
}

.tab-list {
  display: block;
  width: 98px;
  padding: 8px 0;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box; /*borderの値を横幅に含める*/
  cursor: pointer; /*オンマウス時にカーソルを指の形に*/
}

#tab-btn1:checked ~ .tab-list-wrap #tab-list1,
#tab-btn2:checked ~ .tab-list-wrap #tab-list2,
#tab-btn3:checked ~ .tab-list-wrap #tab-list3,
#tab-btn4:checked ~ .tab-list-wrap #tab-list4 {
  border-bottom: solid 3px #00bfff;
}
.tab-content {
  padding: 20px;
  display: none; /*初期状態を非表示に*/
}
#tab-btn1:checked ~ .tab-content-wrap #tab-content1,
#tab-btn2:checked ~ .tab-content-wrap #tab-content2,
#tab-btn3:checked ~ .tab-content-wrap #tab-content3,
#tab-btn4:checked ~ .tab-content-wrap #tab-content4 {
  display: block; /*対応するボタンにチェックが入ったときに表示*/
}
